<?xml version="1.0"?>
<configuration>
  <!--<appSettings/>-->
  <connectionStrings/>
  <appSettings>
    <add key="ConnectionString_RO" value="Data Source=10.246.31.144,1433\MSSQL2K19;Initial Catalog=dsssbonline;User ID=dsssbonline;Password=Nic@dlsc#db%39DSSSBDB@12345;Max Pool Size=500;Pooling=true;"/>
    <add key="ConnectionString" value="Data Source=10.246.31.144,1433\MSSQL2K19;Initial Catalog=dsssbonline;User ID=dsssbonline;Password=Nic@dlsc#db%39DSSSBDB@12345;Max Pool Size=500;Pooling=true;"/>
    <!--<add key="ConnectionString_RO" value="Data Source=10.249.103.39; Initial Catalog=TESTDSSSB;User ID=TESTDSSSB;Password=test@dsssb$#@!1234;Max Pool Size=10000;Pooling=true;Connection Timeout=30"/>
    <add key="ConnectionString" value="Data Source=10.249.103.39; Initial Catalog=TESTDSSSB;User ID=TESTDSSSB;Password=test@dsssb$#@!1234;Max Pool Size=10000;Pooling=true;Connection Timeout=30"/>-->
    <!--<add key="ConnectionString_RO" value="Data Source=10.246.31.144,1433\MSSQL2K19; Initial Catalog=dsssbonline;User ID=dsssbonline;Password=DsssbOnline@1234;Max Pool Size=10000;Pooling=true;Connection Timeout=30"/>
    <add key="ConnectionString" value="Data Source=10.246.31.144,1433\MSSQL2K19; Initial Catalog=dsssbonline;User ID=dsssbonline;Password=DsssbOnline@1234;Max Pool Size=10000;Pooling=true;Connection Timeout=30"/>-->
    <add key="SecurityKey" value="Main Bhartiye hoon."/>
    <add key="KeytoPay" value="M$AXN7^)B%"/>
    <add key="Schemeid" value="5"/>
    <add key="CKeytoPay" value="M$EFG7^)B%"/>
    <add key="CSchemeid" value="82"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
        <!--<remove name="HttpPostLocalhost"/>-->
        <!--Uncomment below line if u want to see web service method on URL-->
        <!-- <remove name="Documentation" />-->
      </protocols>
    </webServices>
    <!-- <httpRuntime enableVersionHeader="false" executionTimeout="3600" maxRequestLength="4096" minFreeThreads="72" minLocalRequestFreeThreads="88" useFullyQualifiedRedirectUrl="false" />
    
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <trace enabled="false" localOnly="false" requestLimit="0"/>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="None"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="403" redirect="~/ErrorPage.aspx"/>
      <error statusCode="404" redirect="~/ErrorPage.aspx"/>
    </customErrors>-->
    <!--<customErrors mode="On" defaultRedirect="~/ErrorPage.aspx"/>-->
    <!--<customErrors mode="RemoteOnly" defaultRedirect="http://10.128.65.106/dsssbonline/default.aspx">
      <error redirect="http://10.128.65.106/dsssbonline/default.aspx" statusCode="404"/>
    </customErrors>-->
    <pages viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajax" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <!--<add value="Default.aspx" />  -->
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination=""/>
  </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <!--<system.webServer>
    <httpErrors errorMode="Custom" defaultResponseMode="ExecuteURL" defaultPath="~/ErrorPage.aspx">
      <clear/>
      <error statusCode="404" responseMode="ExecuteURL" path="~/ErrorPage.aspx/"/>
    </httpErrors>
  </system.webServer>-->
  <!--<system.webServer>
    <modules>
      -->
  <!-- UrlRewriter code here -->
  <!--
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" preCondition="" />
    </modules>
  </system.webServer>-->
</configuration>